extends base/_layout
block head
    title UI-KIT
block page

    .mb_30 

    .container 

        p.p Кнопка 1:

        button.btn_blue.mb_30(type="button") Обратный звонок

        p.p Кнопка 2:

        button.btn_green.mb_30(type="button") Все услуги
            img.btn_arrow__default(src="./images/general/arrow-btn-green.svg" alt="" width="14" height="14" decoding="async")
            img.btn_arrow__hover(src="./images/general/arrow-btn-white.svg" alt="" width="14" height="14" decoding="async")


        p.p Кнопка 3:

        button.btn_blue.btn_large.mb_30(type="button") Узнать больше


        .paragraph

            p.p Номер телефона:

            p.p.mb_30 
                a.phone_link(href="tel:+74955555555") +7 (495) 555-55-55

            p.p Стилизованная ссылка:

            a.a.arrow_link(href="#") Отделка стен
                img.btn_arrow__default(src="./images/general/arrow-btn-black.svg" alt="" width="14" height="14" decoding="async")
                img.btn_arrow__hover(src="./images/general/arrow-btn-blue.svg" alt="" width="14" height="14" decoding="async")
                img.btn_arrow__active(src="./images/general/arrow-btn-dark-blue.svg" alt="" width="14" height="14" decoding="async")


        .paragraph

            p.p.regular Начертание Regular (шрифт montserrat).
            p.p.medium Начертание Meduim (шрифт montserrat).
            p.p.semibold Начертание SemiBold (шрифт montserrat).
            p.p.bold Начертание Bold (шрифт montserrat).
            p.p.regular_italik Начертание Italik (шрифт montserrat).
            p.p.medium_italink Начертание Meduim Italik (шрифт montserrat).


        .paragraph

            p Тест рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба #[br]рыба рыба рыба рыба рыба рыба рыба рыба рыба

            p Текст (2-ой абцац)

            ol
                li OL список.  
                li OL список. рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба #[br]рыба рыба рыба рыба рыба рыба

            p Текст (3-ий абцац)

            ul
                li UL список.
                li UL список. рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба  #[br]рыба рыба рыба рыба рыба рыба


        .paragraph

            h1.h1 H1: Заголовок #[br]рыба рыба

            h2.h2 H2: Заголовок #[br]рыба рыба

            h3.h3 H3: Заголовок #[br]рыба рыба

            h4.h4 H4: Заголовок #[br]рыба рыба

            h5.h5 H5: Заголовок #[br]рыба рыба

            h6.h6 H6: Заголовок #[br]рыба рыба


        .paragraph

            h1.h1_xs H1 xs: Заголовок #[br]рыба рыба

            h2.h2_xs H2 xs: Заголовок #[br]рыба рыба

            h3.h3_xs H3 xs: Заголовок #[br]рыба рыба

            h4.h4_xs H4 xs: Заголовок #[br]рыба рыба


        .paragraph

            p.p Рыба, чтобы показать отступ
            p.p.mb_big Отступ между блоками (большой) - сверху
            p.p.mb_middle Отступ между блоками (средний) - сверху
            p.p.mb_small Отступ между блоками (маленький) - сверху




