extends base/_layout
block head
    title UI-KIT
block page

    .mb_30 

    .container 

        p Кнопка 1:

        .btn_blue.mb_30 Обратный звонок

        p Кнопка 2:

        .btn_green.mb_30 Все услуги
            svg(width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M7.19727 11.097L11.0503 7.33332L7.19727 3.56959" stroke="#09893E" stroke-width="1.33335" stroke-linecap="round" stroke-linejoin="round")
                path(d="M1.6377 6.66667C1.2695 6.66667 0.97102 6.96515 0.97102 7.33334C0.97102 7.70154 1.2695 8.00002 1.6377 8.00002L1.6377 6.66667ZM10.4447 6.66667L1.6377 6.66667L1.6377 8.00002L10.4447 8.00002L10.4447 6.66667Z" fill="#09893E")

        .paragraph

            p Номер телефона:

            p.mb_30 
                a.phone_link(href="tel:+74955555555") +7 (495) 555-55-55

            p Стилизованная ссылка:

            a.arrow_link(href="#") Отделка стен
                svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M11.4131 16.291L17.3409 10.6455L11.4131 4.99998" stroke="#0E0E0E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    path(d="M2.86133 9.646C2.30904 9.646 1.86133 10.0937 1.86133 10.646C1.86133 11.1983 2.30904 11.646 2.86133 11.646L2.86133 9.646ZM16.4106 9.646L2.86133 9.646L2.86133 11.646L16.4106 11.646L16.4106 9.646Z" fill="#0E0E0E")


        .paragraph

            p.regular Начертание Regular (шрифт montserrat).
            p.medium Начертание Meduim (шрифт montserrat).
            p.semibold Начертание SemiBold (шрифт montserrat).
            p.bold Начертание Bold (шрифт montserrat).
            p.regular_italik Начертание Italik (шрифт montserrat).
            p.medium_italink Начертание Meduim Italik (шрифт montserrat).


        .paragraph

            p Тест рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба #[br]рыба рыба рыба рыба рыба рыба рыба рыба рыба

            p Текст (2-ой абцац)

            ol.ol
                li OL список.  
                li OL список. рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба

            p Текст (3-ий абцац)

            ul.ul
                li UL список.
                li UL список. рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба рыба

            
        .paragraph

            h1.h1 H1: Заголовок #[br]рыба рыба

            h2.h2 H2: Заголовок #[br]рыба рыба

            h3.h3 H3: Заголовок #[br]рыба рыба

            h4.h4 H4: Заголовок #[br]рыба рыба

            h5.h5 H5: Заголовок #[br]рыба рыба

            h6.h6 H6: Заголовок #[br]рыба рыба


        .paragraph

            h1.h1_xs H1 xs: Заголовок #[br]рыба рыба

            h2.h2_xs H2 xs: Заголовок #[br]рыба рыба

            h3.h3_xs H3 xs: Заголовок #[br]рыба рыба

            h4.h4_xs H4 xs: Заголовок #[br]рыба рыба


        .paragraph

            p Рыба, чтобы показать отступ
            p.mb_big Отступ между блоками (большой) - сверху
            p.mb_middle Отступ между блоками (средний) - сверху
            p.mb_small Отступ между блоками (маленький) - сверху




