.header_art6__fake

header.header_art6

    .header_art6__overlay

    .header_art6__inner

        .container.header_art6__container

            .header_art6__logo

                a.header_art6__logo_link(href="#")
                    +pictureSizeWithoutLazyMedia('header/logo', 'header/logo-mob','webp','x2',213,54, 767, 768).header_art6__logo_img



            nav.header_art6__menu 

                button.header_art6__menu_btn(type="button" aria-label="Показать / скрыть меню") 

                    span.header_art6__burger: span

                    span Меню

                ul.header_art6__menu_list 

                    li.header_art6__menu_item.item_has_dropdown
                        
                        a(href="#") направления

                        ul.header_art6__dropdown 

                            li.header_art6__dropdown_item
                                a.header_art6__dropdown_link(href="#") Бизнес-анализ

                                ul.header_art6__inner_list 

                                    li.header_art6__inner_item
                                        a.header_art6__inner_link(href="#") Бизнес-анализ

                                    li.header_art6__inner_item
                                        a.header_art6__inner_link(href="#") Бизнес-центр

                                    li.header_art6__inner_item
                                        a.header_art6__inner_link(href="#") Бизнес-анализ

                            li.header_art6__dropdown_item
                                a.header_art6__dropdown_link(href="#") Контекстная и таргетированная реклама 

                            li.header_art6__dropdown_item
                                a.header_art6__dropdown_link(href="#") ЭМИЛИ УОЛТЭМ

                            li.header_art6__dropdown_item
                                a.header_art6__dropdown_link(href="#") Бизнес-анализ

                    li.header_art6__menu_item: a(href="#") О компании

                    li.header_art6__menu_item: a(href="#") наши работы




            .header_art6__panel

                a.header_art6__panel_phone(href="tel:+74955555555" aria-label="Позвонить")

                    span.header_art6__panel_number +7 (495) 555-55-55

                    .header_art6__panel_icon

                        img(src="./images/header/icon_phone.svg" alt="иконка телефона" decoding="async" width="35" height="35")
                        img(src="./images/header/icon_phone_active.svg" alt="иконка телефона" decoding="async" width="35" height="35")

                button.header_art6__panel_callback(type="button" aria-label="Заказать обратный звонок") Обратный звонок
                    

                button.header_art6__show_mobile(type="button" aria-label="Показать мобильное меню")

                    span.header_art6__burger: span



        .header_art6__extra

            .container

                .header_art6__extra_wrapper.header_art6__extra_wrapper_XL

                    include ./header_extra_wrapper_content

                .header_art6__extra_wrapper.header_art6__extra_wrapper_LG

                    include ./header_extra_wrapper_content

                .header_art6__extra_wrapper.header_art6__extra_wrapper_MD

                    include ./header_extra_wrapper_content

                .header_art6__extra_wrapper.header_art6__extra_wrapper_SM

                    include ./header_extra_wrapper_content


    .header_art6__mobile(data-animation-delay="400")

        .header_art6__mobile_wrapper.top_level.active(data-id="top")

            .header_art6__mobile_inner

                ul.header_art6__mobile_list

                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Цены

                        button.header_art6__mobile_btn.js_toggle_mobile_menu_btn(type="button" aria-label="Перейти в категорию" data-id="lv2_cat1"): span


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") эфиры


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") практика


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") статьи


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") курсы для врачей


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Обо мне


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Контакты


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Отзывы


                    li.header_art6__mobile_item.category_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Контакты



                .header_art6__mobile_bottom

                    button.header_art6__mobile_phone(type="button" aria-label="Заказать обратный звонок") Обратный звонок




        .header_art6__mobile_wrapper.inner_level(data-id="lv2_cat1")

            .header_art6__mobile_inner

                button.header_art6__mobile_back.js_toggle_mobile_menu_btn(type="button" aria-label="Вернуться назад" data-id="top") Назад


                ul.header_art6__mobile_list

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Гистероскопия

                        button.header_art6__mobile_btn.js_toggle_mobile_menu_btn(type="button" aria-label="Перейти в категорию" data-id="lv3_cat1"): span

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Шейка матки

                        button.header_art6__mobile_btn.js_toggle_mobile_menu_btn(type="button" aria-label="Перейти в категорию" data-id="lv3_cat2"): span

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Молочная железа

                        button.header_art6__mobile_btn.js_toggle_mobile_menu_btn(type="button" aria-label="Перейти в категорию" data-id="lv3_cat3"): span

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Менопауза

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 1

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 2

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 3

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 4

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 5

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 6

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 7

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 8

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 9

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Подкатегория 10



                .header_art6__mobile_bottom

                    button.header_art6__mobile_phone(type="button" aria-label="Заказать обратный звонок") Обратный звонок



        //- Level 3, Category 1

        .header_art6__mobile_wrapper.inner_level(data-id="lv3_cat1")

            .header_art6__mobile_inner

                button.header_art6__mobile_back.js_toggle_mobile_menu_btn(type="button" aria-label="Вернуться назад" data-id="lv2_cat1") Назад


                ul.header_art6__mobile_list

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 1, уровень вложенности 3, меню 1

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 2, уровень вложенности 3, меню 1



                .header_art6__mobile_bottom

                    button.header_art6__mobile_phone(type="button" aria-label="Заказать обратный звонок") Обратный звонок



        //- Level 3, Category 2

        .header_art6__mobile_wrapper.inner_level(data-id="lv3_cat2")

            .header_art6__mobile_inner

                button.header_art6__mobile_back.js_toggle_mobile_menu_btn(type="button" aria-label="Вернуться назад" data-id="lv2_cat1") Назад


                ul.header_art6__mobile_list

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 1, уровень вложенности 3, меню 2

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 2, уровень вложенности 3, меню 2

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 3, уровень вложенности 3, меню 2

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 4, уровень вложенности 3, меню 2



                .header_art6__mobile_bottom

                    button.header_art6__mobile_phone(type="button" aria-label="Заказать обратный звонок") Обратный звонок



        //- Level 3, Category 3

        .header_art6__mobile_wrapper.inner_level(data-id="lv3_cat3")

            .header_art6__mobile_inner

                button.header_art6__mobile_back.js_toggle_mobile_menu_btn(type="button" aria-label="Вернуться назад" data-id="lv2_cat1") Назад


                ul.header_art6__mobile_list

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 1, уровень вложенности 3, меню 3

                    li.header_art6__mobile_item.subcategory_item

                        span.header_art6__mobile_el

                            a.header_art6__mobile_link(href="#") Ссылка 2, уровень вложенности 3, меню 3



                .header_art6__mobile_bottom

                    button.header_art6__mobile_phone(type="button" aria-label="Заказать обратный звонок") Обратный звонок


