ul.header_art6__extra_list 

    li.header_art6__extra_item.category_item

        a.header_art6__extra_link(href="#") Направления

    li.header_art6__extra_item.subcategory_item

        a.header_art6__extra_link(href="#") Бизнес-анализ

    li.header_art6__extra_item.subcategory_item

        a.header_art6__extra_link(href="#") Контекстная и таргетированная реклама 

    li.header_art6__extra_item.subcategory_item

        a.header_art6__extra_link(href="#") ЭМИЛИ УОЛТЭМ

    li.header_art6__extra_item.subcategory_item

        a.header_art6__extra_link(href="#") Бизнес-анализ

    li.header_art6__extra_item

        .header_art6__more

            ul.header_art6__more_list

                li.header_art6__more_item.subcategory_item

                    a.header_art6__extra_link(href="#") Дополнительная ссылка 1

                li.header_art6__more_item.subcategory_item

                    a.header_art6__extra_link(href="#") Дополнительная ссылка 2

                li.header_art6__more_item.subcategory_item

                    a.header_art6__extra_link(href="#") Дополнительная ссылка 3




        button.header_art6__more_btn(type="button" aria-label="Показать ещё")
            span.header_art6__more_hidden Ещё...
            span.header_art6__more_visible Свернуть




ul.header_art6__extra_list

    li.header_art6__extra_item.category_item

        a.header_art6__extra_link(href="#") О компании

    li.header_art6__extra_item.category_item

        a.header_art6__extra_link(href="#") наши работы


ul.header_art6__extra_list

    li.header_art6__extra_item.category_item

        a.header_art6__extra_link(href="#") Новости

    li.header_art6__extra_item.category_item

        a.header_art6__extra_link(href="#") Конкаты

