ul.ul.header_v_1_art6__extra_list 

    li.li.header_v_1_art6__extra_item.category_item

        a.link.header_v_1_art6__extra_link(href="#") Направления

    li.li.header_v_1_art6__extra_item.subcategory_item

        a.link.header_v_1_art6__extra_link(href="#") Бизнес-анализ

    li.li.header_v_1_art6__extra_item.subcategory_item

        a.link.header_v_1_art6__extra_link(href="#") Контекстная и таргетированная реклама 

    li.li.header_v_1_art6__extra_item.subcategory_item

        a.link.header_v_1_art6__extra_link(href="#") ЭМИЛИ УОЛТЭМ

    li.li.header_v_1_art6__extra_item.subcategory_item

        a.link.header_v_1_art6__extra_link(href="#") Бизнес-анализ

    li.li.header_v_1_art6__extra_item

        .header_v_1_art6__more

            ul.ul.header_v_1_art6__more_list

                li.li.header_v_1_art6__more_item.subcategory_item

                    a.link.header_v_1_art6__extra_link(href="#") Дополнительная ссылка 1

                li.li.header_v_1_art6__more_item.subcategory_item

                    a.link.header_v_1_art6__extra_link(href="#") Дополнительная ссылка 2

                li.li.header_v_1_art6__more_item.subcategory_item

                    a.link.header_v_1_art6__extra_link(href="#") Дополнительная ссылка 3




        button.button.header_v_1_art6__more_btn(type="button" aria-label="Показать ещё")
            span.header_v_1_art6__more_hidden Ещё...
            span.header_v_1_art6__more_visible Свернуть




ul.ul.header_v_1_art6__extra_list

    li.li.header_v_1_art6__extra_item.category_item

        a.link.header_v_1_art6__extra_link(href="#") О компании

    li.li.header_v_1_art6__extra_item.category_item

        a.link.header_v_1_art6__extra_link(href="#") наши работы


ul.ul.header_v_1_art6__extra_list

    li.li.header_v_1_art6__extra_item.category_item

        a.link.header_v_1_art6__extra_link(href="#") Новости

    li.li.header_v_1_art6__extra_item.category_item

        a.link.header_v_1_art6__extra_link(href="#") Конкаты

