-
    const istoriya_v_1_data = [
        {
            period: '2011-2012',
            name: 'Основание компании',
            text: 'Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. ИМенно тогда, мы появились в справочнике 2ГИС'
        },
        {
            period: '2013 г.',
            name: 'Развитие новых сфер',
            text: 'Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. ИМенно тогда, мы появились в справочнике 2ГИС. Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. ИМенно тогда, мы появились в справочнике 2ГИС.'
        },
        {
            period: '2013-2025',
            name: 'Взгляд по-новому',
            text: 'Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. ИМенно тогда, мы появились в справочнике 2ГИС. Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. '
        },
        {
            period: '2013-2015',
            name: 'Выход на новый уровень',
            text: 'Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. ИМенно тогда, мы появились в справочнике 2ГИС. Компания была основана 3 марта 2011 года, официальное же открытие состоялось 1 августа 2011 года. ИМенно тогда, мы появились в справочнике 2ГИС.'
        },
    ]

.istoriya_v_1

    .container 

        h1.h1.istoriya_v_1__title История компании

        .istoriya_v_1__wrapper

            each item in istoriya_v_1_data 

                .istoriya_v_1__item

                    span.istoriya_v_1__period= item.period

                    .istoriya_v_1__descr 

                        p.p.istoriya_v_1__name= item.name

                        p.p.istoriya_v_1__text= item.text

