.khlebnyye_kroshki_v_1

    .container

        nav.khlebnyye_kroshki_v_1__nav 

            a.khlebnyye_kroshki_v_1__item(href="#") Главная

            a.khlebnyye_kroshki_v_1__item(href="#") Объекты

            a.khlebnyye_kroshki_v_1__item(href="#") Сендвич панели PIR

            span.khlebnyye_kroshki_v_1__item Сендвич панели 2-й сорт

        a.khlebnyye_kroshki_v_1__prev(href="#") Сендвич панели PIR для монтажа и для строительных раюот
