.khlebnyye_kroshki_v_1

    .container

        nav.khlebnyye_kroshki_v_1__nav 

            .khlebnyye_kroshki_v_1__item #[a(href="#") Главная]

            .khlebnyye_kroshki_v_1__item #[a(href="#") Объекты]

            .khlebnyye_kroshki_v_1__item #[a(href="#") Сендвич панели PIR]

            .khlebnyye_kroshki_v_1__item Сендвич панели 2-й сорт

        a.khlebnyye_kroshki_v_1__prev(href="#") Сендвич панели PIR для монтажа и для строительных раюот
