.lidforma_v_1

    .container 

        h1.h1.lidforma_v_1__title Получить расчет стоимости вашего объекта

        .lidforma_v_1__wrapper 

            .lidforma_v_1__img
                img(src="./images/lidforma-v-1/lidforma-v-1-img.webp" alt="" width="740" height="476" decoding="async")

            form.lidforma_v_1__form.js-form(action="#" novalidate)

                p.lidforma_v_1__hint Оставьте заявку на консультацию или позвоните нам по телефону #[a.link(href="tel:88003336545") #[strong 8 800 333-65-45]]

                .lidforma_v_1__fieldset

                    input.input.lidforma_v_1__input.js-input(type="text" placeholder="Ваше имя*" required)
                    input.input.lidforma_v_1__input.js-input(type="text" placeholder="Ваш телефон*" required)
                    input.input.lidforma_v_1__input(type="email" placeholder="Email")
                    textarea.lidforma_v_1__textarea(placeholder="Введите свое сообщение")

                p.p.lidforma_v_1__policy Отправляя данные я соглашаюсь с #[a.link(href="#") политикой конфиденциальности]

                button.btn_blue.btn_large.lidforma_v_1__submit.js-submit(type="submit") Отправить
