.mt_small

.nashi-raboty-v1

    .container

        .nashi-raboty-v1__container

            h1.h1.nashi-raboty-v1__title Реализованные проекты 

            p.p.nashi-raboty-v1__subtitle Проекты, которые мы уже построили из наших сэндвич-панелей

            .mt_small.nashi-raboty-v1__wrapper

                .nashi-raboty-v1__item

                    .nashi-raboty-v1__sliders

                        .nashi-raboty-v1__full_slider.swiper 

                            .nashi-raboty-v1__full_wrapper.swiper-wrapper

                                .nashi-raboty-v1__full_slide.swiper-slide.video-block(data-video="https://vk.com/video-66369027_456239546")
                                    button.button.video-play-btn(type="button" aria-label="Начать показ видео")
                                    picture.nashi-raboty-v1__full_pic.js-video-preview
                                        source(media="(min-width: 992px)" srcset="./images/nashi-raboty/nashi-raboty-1.webp" type="image/webp")
                                        source(media="(max-width: 991px)" srcset="./images/nashi-raboty/nashi-raboty-1-mob.webp" type="image/webp")
                                        img(src="./images/nashi-raboty/nashi-raboty-1.webp" alt="" width="630" height="420" decoding="async")

                                .nashi-raboty-v1__full_slide.swiper-slide
                                    picture.nashi-raboty-v1__full_pic
                                        source(media="(min-width: 992px)" srcset="./images/nashi-raboty/nashi-raboty-2.webp" type="image/webp")
                                        source(media="(max-width: 991px)" srcset="./images/nashi-raboty/nashi-raboty-2-mob.webp" type="image/webp")
                                        img(src="./images/nashi-raboty/nashi-raboty-2.webp" alt="" width="630" height="420" decoding="async")

                                .nashi-raboty-v1__full_slide.swiper-slide
                                    picture.nashi-raboty-v1__full_pic
                                        source(media="(min-width: 992px)" srcset="./images/nashi-raboty/nashi-raboty-2.webp" type="image/webp")
                                        source(media="(max-width: 991px)" srcset="./images/nashi-raboty/nashi-raboty-2-mob.webp" type="image/webp")
                                        img(src="./images/nashi-raboty/nashi-raboty-2.webp" alt="" width="630" height="420" decoding="async")


                            .nashi-raboty-v1__full_navigation

                                button.button.nashi-raboty-v1__full_prev(type="button" aria-label="Предыдущий слайд")

                                button.button.nashi-raboty-v1__full_next(type="button" aria-label="Следующий слайд")


                        .nashi-raboty-v1__thumb_slider.swiper

                            .nashi-raboty-v1__thumb_wrapper.swiper-wrapper

                                .nashi-raboty-v1__thumb_slide.swiper-slide
                                    picture
                                        source(media="(min-width: 992px)" srcset="./images/nashi-raboty/nashi-raboty-1-preview.webp" type="image/webp")
                                        source(media="(max-width: 991px)" srcset="./images/nashi-raboty/nashi-raboty-1-preview-mob.webp" type="image/webp")
                                        img(src="./images/nashi-raboty/nashi-raboty-1-preview.webp" alt="" width="630" height="420" decoding="async")

                                .nashi-raboty-v1__thumb_slide.swiper-slide
                                    picture
                                        source(media="(min-width: 992px)" srcset="./images/nashi-raboty/nashi-raboty-2-preview.webp" type="image/webp")
                                        source(media="(max-width: 991px)" srcset="./images/nashi-raboty/nashi-raboty-2-preview-mob.webp" type="image/webp")
                                        img(src="./images/nashi-raboty/nashi-raboty-2-preview.webp" alt="" width="630" height="420" decoding="async")

                                .nashi-raboty-v1__thumb_slide.swiper-slide
                                    picture
                                        source(media="(min-width: 992px)" srcset="./images/nashi-raboty/nashi-raboty-3-preview.webp" type="image/webp")
                                        source(media="(max-width: 991px)" srcset="./images/nashi-raboty/nashi-raboty-3-preview-mob.webp" type="image/webp")
                                        img(src="./images/nashi-raboty/nashi-raboty-3-preview.webp" alt="" width="630" height="420" decoding="async")



                    .nashi-raboty-v1__descr

                        h2.nashi-raboty-v1__heading Цех по производству пластиковых окон

                        p.nashi-raboty-v1__text Произвели замеры участка для строительства, расчет каркаса и раскрой сэндвич панелей. После согласования с клиентом был изготовлен и поставлен комплект сэндвич панелей, фасонных и расходным материалов для монтажа

                        .nashi-raboty-v1__features 

                            .nashi-raboty-v1__row 

                                span.nashi-raboty-v1__name Местарасположение:

                                span.nashi-raboty-v1__value г. Симферополь, Крым

                            .nashi-raboty-v1__row 

                                span.nashi-raboty-v1__name Цвет RAL:

                                span.nashi-raboty-v1__value 7004/9003

                            .nashi-raboty-v1__row 

                                span.nashi-raboty-v1__name Утеплитель:

                                span.nashi-raboty-v1__value Минеральная вата

                            .nashi-raboty-v1__row 

                                span.nashi-raboty-v1__name Сроки поставки:

                                span.nashi-raboty-v1__value 20 рабочих дней

                            .nashi-raboty-v1__row 

                                span.nashi-raboty-v1__name Объем поставки:

                                span.nashi-raboty-v1__value 3 600 м²


                        button.btn_blue.btn_large Узнать больше




            button.button.btn_bordered_arrow.nashi-raboty-v1__button(type="button") Все проекты



