.o_kompanii_v_1

    .container

        .o_kompanii_v_1__main

            h1.h1.o_kompanii_v_1__title О компании

            .o_kompanii_v_1__img 
                img(src="./images/o_kompanii/company.webp" alt="" decoding="async")

            .o_kompanii_v_1__info

                p.p.o_kompanii_v_1__subtitle #[strong Больше 10 лет производим и поставляем сэндвич панели] на объекты разной сложности и размеров

                .o_kompanii_v_1__text
                    p.p Идеи гораздо сложнее реализовывать, чем генерировать. Вместо того, чтобы годами раздумывать, каким бизнесом заняться, лучше потратить время на бизнес-план и выстраивание рабочего процесса. 

                    p.p Идеи гораздо сложнее реализовывать, чем генерировать. #[br]Вместо того, чтобы годами раздумывать, каким бизнесом заняться, лучше потратить время на бизнес-план и выстраивание рабочего процесса.




        .o_kompanii_v_1__benefits 

            .o_kompanii_v_1__item

                span.o_kompanii_v_1__value 10

                span.o_kompanii_v_1__descr лет на рынке сэндвич-панелей


            .o_kompanii_v_1__item

                span.o_kompanii_v_1__value 500 000+

                span.o_kompanii_v_1__descr м² сэндвич-панелей поставляем каждый год


            .o_kompanii_v_1__item

                span.o_kompanii_v_1__value 3 000+

                span.o_kompanii_v_1__descr клиентов получили готовые решения для бизнеса


            .o_kompanii_v_1__item

                span.o_kompanii_v_1__value 10 000

                span.o_kompanii_v_1__descr м² сэндвич-панелей в наличии на нашем складе
