.paginatsiya_v_1

    .container 

        .paginatsiya_v_1__list 

            a.paginatsiya_v_1__link.paginatsiya_v_1__link_current(href="#") 1

            a.paginatsiya_v_1__link(href="#") 2

            a.paginatsiya_v_1__link(href="#") 3

            span.paginatsiya_v_1__dots ...

            a.paginatsiya_v_1__link(href="#") 32

