section.perv_ekr_v_1

    .container

        .perv_ekr_v_1__info

            h1.h1.perv_ekr_v_1__title н1: Сэндвич-панели #[span.perv_ekr_v_1__color_text напрямую от завода-!изготовителя]

            h3.h3.perv_ekr_v_1__heading н3: по доступным ценам,,,,,



        .perv_ekr_v_1__form
