section.perv_ekr_v_4

    .container.perv_ekr_v_4__container

        .perv_ekr_v_4__wrapper

            .perv_ekr_v_4__info

                h1.h1.perv_ekr_v_4__title н1: Сэндвич-панели #[span.perv_ekr_v_4__color_text напрямую от завода-!изготовителя]

                h3.h3.perv_ekr_v_4__heading н3: по доступным ценам,,,,,

            .perv_ekr_v_4__form_bg
                picture
                    source(media="(min-width: 992px)" srcset="./images/perv_ekr/first-bg-4.webp" type="image/webp")
                    source(media="(max-width: 991px)" srcset="./images/perv_ekr/first-bg-4-mob.webp" type="image/webp")
                    img(src="./images/perv_ekr/first-bg-4.webp" alt="" width="543" height="273" decoding="async")




        form.perv_ekr_v_4__form.js-form(action="#" novalidate)

            .perv_ekr_v_4__form_content

                p.p.perv_ekr_v_4__form_name Оставьте заявку на подбор материалов

                p.p.perv_ekr_v_4__form_descr Мы детально проконсультируем и подберем наилучшее предложение

                .perv_ekr_v_4__form_fieldset

                    input.input.perv_ekr_v_4__form_input.js-input(type="text" placeholder="Ваше имя")

                    input.input.perv_ekr_v_4__form_input.js-submit(type="text" placeholder="Номер телефона*" required)

                    button.button.btn_blue.btn_large.perv_ekr_v_4__form_submit(type="submit") Получить предложение

                .perv_ekr_v_4__form_policy Заполняя эту форму, вы соглашаетесь с #[a(href="#") политикой конфиденциальности]


