li.podval_v_1__extra.js-podval-extra

    .podval_v_1__extra_more 

        ul.ul.podval_v_1__extra_list

            li.li.podval_v_1__more_item

                a.link.podval_v_1__extra_link(href="#") Дополнительная ссылка 1

            li.li.podval_v_1__more_item

                a.link.podval_v_1__extra_link(href="#") Дополнительная ссылка 2




    button.button.podval_v_1__more_btn.js-podval-more(type="button" aria-label="Показать ещё")
        span.podval_v_1__more_hidden Ещё...
        span.podval_v_1__more_visible Свернуть
