.slider-v-1

    .slider-v-1__container.swiper 

        .slider-v-1__wrapper.swiper-wrapper 

            .slider-v-1__slide.swiper-slide 

                +pictureSizeWithoutLazyMedia('slider/slide-1', 'slider/slide-1-mob','png','x2',1920,700, 768, 767)

            .slider-v-1__slide.swiper-slide 

                +pictureSizeWithoutLazyMedia('slider/slide-1', 'slider/slide-1-mob','png','x2',1920,700, 768, 767)

            .slider-v-1__slide.swiper-slide 

                +pictureSizeWithoutLazyMedia('slider/slide-1', 'slider/slide-1-mob','png','x2',1920,700, 768, 767)


        .slider-v-1__navigation
            .swiper-pagination-bullet
            .swiper-pagination-bullet
            .swiper-pagination-bullet
