.statyi_plitka_v_1
-
    const statyi_plitka_v_1_data = [
        {
            name: 'Стеновые Сэндвич-панели с минеральной ватой'
        },
        {
            name: 'Стеновые Сэндвич-панели с минеральной ватой'
        },
        {
            name: 'Стеновые Сэндвич-панели с минеральной ватой'
        },
        {
            name: 'Стеновые Сэндвич-панели с минеральной ватой'
        },
        {
            name: 'Стеновые Сэндвич-панели с минеральной ватой'
        },
        {
            name: 'Стеновые Сэндвич-панели с минеральной ватой'
        },
    ]

.statyi_plitka_v_1

    .container

        .statyi_plitka_v_1__container

            h1.h1.statyi_plitka_v_1__title Рекомендации #[br]по применению 

            p.p.statyi_plitka_v_1__subtitle Наши менеджеры #[strong с удовольствием проконсультируют] и помогут заказать нужные материалы

            .mt_small.statyi_plitka_v_1__wrapper

                each item in statyi_plitka_v_1_data

                    .statyi_plitka_v_1__item 

                        a.statyi_plitka_v_1__link(href="#") 

                        .statyi_plitka_v_1__item_top

                            img(src="./images/statyi_plitka/statyi-1.jpg" alt="" decoding="async")

                            .statyi_plitka_v_1__item_arrow

                        span.statyi_plitka_v_1__name= item.name

                        span.statyi_plitka_v_1__text Для чего нужны и в чем отличие от других сендвич-панелей? 



            button.button.btn_bordered_arrow.statyi_plitka_v_1__button(type="button") Все рекомендации 
