.block_otstup_small

.tekst_s_foto_v_1

    .container.tekst_s_foto_v_1__container 

        h2.h1.tekst_s_foto_v_1__title Сэндвич-панели в наличии

        .tekst_s_foto_v_1__img
            picture
                source(media="(min-width: 769px)" srcset="./images/tekst_s_foto/photo.webp" type="image/webp")
                source(media="(max-width: 768px)" srcset="./images/tekst_s_foto/photo-mob.webp" type="image/webp")
                img(src="./images/tekst_s_foto/photo.webp" alt="" width="740" height="561" decoding="async")

        .tekst_s_foto_v_1__descr

            .tekst_s_foto_v_1__text 

                p Одним из основных преимуществ компании является наличие складских запасов готовых позиций сэндвич-панелей. Нашим клиентам не нужно ждать изготовления продукции. 

                p #[strong Доставляем сэндвич-панели и необходимую номенклатуру материалов в день заказа.] На складе присутствуют позиции 2-го сорта и некондиционные сэндвич-панели по сниженной стоимости.

            button.btn_blue.btn_large(type="button") Уточнить наличие


