.tekst_s_bolshoy_kartinkoy_v_1

    .container

        .tekst_s_bolshoy_kartinkoy_v_1__container

            h1.h1.tekst_s_bolshoy_kartinkoy_v_1__title География поставок   

            p.p.tekst_s_bolshoy_kartinkoy_v_1__subtitle Поставляем продукцию по всей России и страны СНГ: Армению, Казахстан, Абхазию и Азербайджан.

            .tekst_s_bolshoy_kartinkoy_v_1__img
                picture
                    source(media="(min-width: 769px)" srcset="./images/tekst_s_bolshoy_kartinkoy/tekst_s_bolshoy_kartinkoy.webp" type="image/webp")
                    source(media="(max-width: 768px)" srcset="./images/tekst_s_bolshoy_kartinkoy/tekst_s_bolshoy_kartinkoy_mob.webp" type="image/webp")
                    img(src="./images/tekst_s_bolshoy_kartinkoy/tekst_s_bolshoy_kartinkoy.webp" alt="" width="740" height="561" decoding="async")


            button.button.btn_bordered_arrow.tekst_s_bolshoy_kartinkoy_v_1__button(type="button") узнать подробнее


