-
    let uslugiPerechisleniyeData2 = [
        {
            text: 'Полы из ламината'
        },
        {
            text: 'Полы линолеум'
        },
        {
            text: 'Полы из качественной паркетной доски'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы из качественной паркетной доски'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы линолеум'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы линолеум'
        },
        {
            text: 'Полы из ламината'
        },
    ]

.mt_small

.uslugi-perechisleniye-variant-2

    .container

        .uslugi-perechisleniye-variant-2__container

            h1.h1.uslugi-perechisleniye-variant-2__title Н1: Направления 

            p.p.uslugi-perechisleniye-variant-2__subtitle Производим сэндвич-панели #[strong для любых задач]

            .mt_small.uslugi-perechisleniye-variant-2__wrapper

                each item in uslugiPerechisleniyeData2

                    .uslugi-perechisleniye-variant-2__item

                        a.uslugi-perechisleniye-variant-2__link(href="#")


                        span.uslugi-perechisleniye-variant-2__name #{item.text} #[span.uslugi-perechisleniye-variant-2__arrow]


            button.button.btn_bordered_arrow.uslugi-perechisleniye-variant-2__button(type="button") Все услуги


