-
    let uslugiPlitkaData3 = [
        {
            img: './images/uslugi-plitka/uslugi-plitka-1',
            text: 'Полы для дома'
        },
        {
            img: './images/uslugi-plitka/uslugi-plitka-2',
            text: 'Отделка стен'
        }
    ]

.mt_small

.uslugi_plitka_v_3

    .container

        .uslugi_plitka_v_3__container

            h1.h1.uslugi_plitka_v_3__title Н1: Направления 

            p.p.uslugi_plitka_v_3__subtitle Производим сэндвич-панели #[strong для любых задач]

            .mt_small.uslugi_plitka_v_3__wrapper

                each item in uslugiPlitkaData3

                    .uslugi_plitka_v_3__item

                        a.uslugi_plitka_v_3__link(href="#") 

                        .uslugi_plitka_v_3__img
                            picture
                                source(media="(min-width: 992px)" srcset= item.img + ".webp" type="image/webp")
                                source(media="(max-width: 991px)"  srcset= item.img + "-mob.webp" type="image/webp")
                                img(src= item.img + ".webp" alt="" width="360" height="240" decoding="async")


                        span.uslugi_plitka_v_3__name #{item.text} #[span.uslugi_plitka_v_3__arrow]


            button.button.btn_bordered_arrow.uslugi_plitka_v_3__button(type="button") Все услуги


