-
    let uslugiPerechisleniyeData1 = [
        {
            text: 'Полы из ламината'
        },
        {
            text: 'Полы линолеум'
        },
        {
            text: 'Полы из качественной паркетной доски'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы из качественной паркетной доски'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы линолеум'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы из керамогранита'
        },
        {
            text: 'Полы линолеум'
        },
        {
            text: 'Полы из ламината'
        },
    ]

.mt_small

.uslugi-perechisleniye-variant-1

    .container

        .uslugi-perechisleniye-variant-1__container

            h1.h1.uslugi-perechisleniye-variant-1__title Н1: Направления 

            p.p.uslugi-perechisleniye-variant-1__subtitle Производим сэндвич-панели #[strong для любых задач]

            .mt_small.uslugi-perechisleniye-variant-1__wrapper

                each item in uslugiPerechisleniyeData1

                    .uslugi-perechisleniye-variant-1__item

                        a.uslugi-perechisleniye-variant-1__link(href="#")


                        span.uslugi-perechisleniye-variant-1__name #{item.text} #[span.uslugi-perechisleniye-variant-1__arrow]


            button.button.btn_bordered_arrow.uslugi-perechisleniye-variant-1__button(type="button") Все услуги


