.h1 {
    font-size: 66px;
    font-weight: 500;
    line-height: 110%;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @include xl {
        font-size: 54px;

        &:not(:last-child) {
            margin-bottom: 26px;
        }
    }

    @include lg {
        font-size: 44px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include sm {
        font-size: 36px;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    @include xs {
        font-size: 30px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.h1_xs {
    font-weight: 500;
    font-size: 58px;
    line-height: 110%;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @include xl {
        font-size: 46px;

        &:not(:last-child) {
            margin-bottom: 26px;
        }
    }

    @include lg {
        font-size: 36px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include sm {
        font-size: 28px;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    @include xs {
        font-size: 24px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}
.h2 {
    font-size: 52px;
    font-weight: 500;
    line-height: 110%;

    &:not(:last-child) {
        margin-bottom: 26px;
    }

    @include xl {
        font-size: 42px;

        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    @include lg {
        font-size: 34px;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    @include sm {
        font-size: 28px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @include xs {
        font-size: 26px;
    }
}
.h2_xs {
    font-weight: 500;
    font-size: 44px;
    line-height: 130%;

    &:not(:last-child) {
        margin-bottom: 24px;
    }

    @include xl {
        font-size: 34px;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    @include lg {
        font-size: 26px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @include sm {
        font-size: 22px;
    }

    @include xs {
        font-size: 20px;
    }
}
.h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 130%;

    &:not(:last-child) {
        margin-bottom: 22px;
    }

    @include xl {
        font-size: 32px;
    }

    @include lg {
        font-size: 24px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @include sm {
        font-size: 22px;
    }
}
.h3_xs {
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;

    &:not(:last-child) {
        margin-bottom: 22px;
    }

    @include xl {
        font-size: 26px;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @include lg {
        font-size: 22px;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px;
    }
}
.h4 {
    font-size: 30px;
    font-weight: 500;
    line-height: 130%;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @include xl {
        font-size: 24px;
    }

    @include lg {
        font-size: 20px;

        &:not(:last-child) {
            margin-bottom: 18px;
        }
    }

    @include sm {
        font-size: 18px;
    }

    @include xs {
        font-size: 20px;
    }
}
.h4_xs {
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;

    &:not(:last-child) {
        margin-bottom: 18px;
    }

    @include xl {
        font-size: 20px;
    }

    @include lg {
        font-size: 18px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    @include sm {
        font-size: 16px;
    }
}
.h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 140%;

    &:not(:last-child) {
        margin-bottom: 18px;
    }

    @include xl {
        font-size: 20px;
    }

    @include lg {
        font-size: 18px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    @include sm {
        font-size: 16px;
    }
}
.h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;

    &:not(:last-child) {
        margin-bottom: 18px;
    }

    @include lg {
        font-size: 15px;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    @include xs {
        font-size: 14;
    }
}
p,
ul,
ol {
    margin-bottom: 16px;
    font-size: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    @include lg {
        margin-bottom: 15px;
        font-size: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include xs {
        margin-bottom: 14px;
        font-size: 14px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

p {
    line-height: 160%;
}

ol {
    padding-left: 25px;
    list-style-type: decimal;
}

ul {
    padding-left: 25px;
    list-style-type: disc;
}

li {
    line-height: 160%;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.p,
.ul,
.ol,
.heading {
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.mb_30 {
    margin-bottom: 30px;
}

.paragraph {
    margin-bottom: 60px;

    @include xl {
        margin-bottom: 54px;
    }
    @include lg {
        margin-bottom: 44px;
    }
    @include sm {
        margin-bottom: 36px;
    }
    @include xs {
        margin-bottom: 34px;
    }
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.regular_italik {
    font-weight: 400;
    font-style: italic;
}
.medium_italink {
    font-weight: 500;
    font-style: italic;
}

.mt_big {
    margin-top: 200px;

    @include xl {
        margin-top: 162px;
    }
    @include lg {
        margin-top: 144px;
    }
    @include sm {
        margin-top: 132px;
    }
    @include xs {
        margin-top: 84px;
    }
}

.mt_middle {
    margin-top: 140px;
    @include xl {
        margin-top: 108px;
    }
    @include lg {
        margin-top: 96px;
    }
    @include sm {
        margin-top: 88px;
    }
    @include xs {
        margin-top: 60px;
    }
}

.mt_small {
    margin-top: 60px;
    @include xl {
        margin-top: 54px;
    }
    @include lg {
        margin-top: 48px;
    }
    @include sm {
        margin-top: 44px;
    }
    @include xs {
        margin-top: 34px;
    }
}
.block_otstup_big {
    height: 200px;
    @include xl {
        height: 162px;
    }
    @include lg {
        height: 144px;
    }
    @include sm {
        height: 132px;
    }
    @include xs {
        height: 84px;
    }
}

.block_otstup_middle {
    height: 140px;
    @include xl {
        height: 108px;
    }
    @include lg {
        height: 96px;
    }
    @include sm {
        height: 88px;
    }
    @include xs {
        height: 60px;
    }
}

.block_otstup_small {
    height: 60px;
    @include xl {
        height: 54px;
    }
    @include lg {
        height: 48px;
    }
    @include sm {
        height: 44px;
    }
    @include xs {
        height: 34px;
    }
}
strong {
    font-weight: 700px;
}
em {
    font-style: italic;
}
a {
    text-decoration: underline;
}
.btn_blue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 7px 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-belyy, #fcfcfc);
    background-color: var(--color-siniy, #355ddb);
    border: 1.5px solid var(--color-siniy, #355ddb);
    border-radius: 3px;
    outline: none;
    appearance: none;
    transition: color $transition, background-color $transition;
    cursor: pointer;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
            background-color: var(--color-belyy, #fcfcfc);
        }
    }

    // &:active {
    //     color: var(--color-siniy-active, #304790);
    //     border: 1.5px solid var(--color-siniy-active, #304790);
    //     background-color: var(--color-belyy, #fcfcfc);
    // }
}
.btn_large {
    min-width: 310px;
    min-height: 54px;
    padding: 11px 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;

    @include xl {
        font-size: 14px;
    }

    @include lg {
        font-size: 13px;
    }

    @include xs {
        width: 100%;
        font-size: 14px;
    }
}
.btn_green {
    position: relative;
    display: inline-flex;
    gap: 0 7px;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    padding: 8px 45px 8px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-green, #09893e);
    background-color: var(--color-belyy, #fcfcfc);
    border: 1.5px solid var(--color-green, #09893e);
    border-radius: 3px;
    outline: none;
    appearance: none;
    transition: color $transition, background-color $transition;
    cursor: pointer;

    .btn_arrow__default,
    .btn_arrow__hover {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
        flex: 0 0 auto;
        display: inline-block;
        width: 14px;
        height: 14px;
        object-fit: contain;
        transition: all $transition;
    }

    .btn_arrow__hover {
        opacity: 0;
    }

    @media (hover: hover) {
        &:hover {
            color: var(--color-belyy, #fcfcfc);
            background-color: var(--color-green, #09893e);

            .btn_arrow__default,
            .btn_arrow__hover {
                transform: translateY(-50%) rotate(-45deg);
            }

            .btn_arrow__default {
                opacity: 0;
            }

            .btn_arrow__hover {
                opacity: 1;
            }
        }
    }

    // &:active {
    //     color: var(--color-belyy, #fcfcfc);
    //     border: 1.5px solid var(--color-green-active, #085e2c);
    //     background-color: var(--color-green-active, #085e2c);
    // }
}

.btn_bordered_arrow {
    display: inline-block;
    height: 48px;
    padding: 12px 21px;
    border-radius: 3px;
    border: 1.5px solid var(--color-siniy);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-siniy);
}

.phone_link,
.arrow_link {
    font-weight: 500;
    text-decoration: none;
    transition: color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
        }
    }

    // &:active {
    //     color: var(--color-siniy-active, #304790);
    // }
}

.phone_link {
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}

.arrow_link {
    position: relative;
    display: inline-flex;
    gap: 0 13px;
    align-items: center;
    padding-right: 34px;
    font-size: 22px;
    line-height: 130%;

    .btn_arrow__default,
    .btn_arrow__hover,
    .btn_arrow__active {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        flex: 0 0 auto;
        display: inline-block;
        width: 21px;
        height: 20px;
        object-fit: contain;
        transition: all $transition;
    }

    .btn_arrow__hover,
    .btn_arrow__active {
        opacity: 0;
    }

    @media (hover: hover) {
        &:hover {
            .btn_arrow__default,
            .btn_arrow__hover,
            .btn_arrow__active {
                transform: translateY(-50%) rotate(-45deg);
            }

            .btn_arrow__default {
                opacity: 0;
            }

            .btn_arrow__hover {
                opacity: 1;
            }
        }
    }

    // &:active {
    //     .btn_arrow__default,
    //     .btn_arrow__hover {
    //         opacity: 0;
    //     }

    //     .btn_arrow__active {
    //         opacity: 1;
    //     }
    // }
}
