/* header styles*/

.header_art6 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: transform $transition03;

    &.hide {
        transform: translateY(-100%);
    }
}

.header_art6__fake {
    height: 100px;
    width: 100%;

    @include xs {
        height: 65px;
    }
}

.header_art6__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $transition, visibility $transition;

    .extra-menu-open &,
    .mobile-menu-open & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.header_art6__inner {
    position: relative;
    z-index: 5;
    background-color: var(--color-white, #fff);
    font-family: var(--font-montserrat, "Montserrat", sans-serif);
    border-bottom: 1px solid var(--color-sernye-linii, #c9c9c9);

    // .extra-menu-open &,
    // .mobile-menu-open & {
    //     border-bottom-color: var(--color-sernye-linii, #c9c9c9);
    // }
    &::after {
        content: "";
        position: absolute;
        bottom: -1;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 1px;
        background-color: var(--color-sernye-linii, #c9c9c9);
    }
}

.header_art6__container {
    display: flex;
    gap: 0 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding-top: 23px;
    padding-bottom: 23px;

    @include xs {
        min-height: 65px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

// logo

.header_art6__logo {
    flex: 0 0 auto;
    max-width: 213px;

    @include xl {
        max-width: 189px;
    }
}

.header_art6__logo_link {
    display: block;
    width: 100%;
}

.header_art6__logo_img {
    display: block;
    width: 100%;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

// menu

.header_art6__menu,
.header_art6__menu_list {
    display: flex;
    gap: 0 40px;
    justify-content: center;
    align-items: center;
}

.header_art6__menu {
    @include xs {
        display: none;
    }
}

.header_art6__menu_btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--color-chernyy, #0e0e0e);
    transition: color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);

            .header_art6__burger {
                span,
                &::before,
                &::after {
                    color: var(--color-siniy, #355ddb);
                    background-color: var(--color-siniy, #355ddb);
                }
            }
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);

        .header_art6__burger {
            span,
            &::before,
            &::after {
                color: var(--color-siniy-active, #304790);
                background-color: var(--color-siniy-active, #304790);
            }
        }
    }
}

.header_art6__burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;

    &::before,
    &::after {
        content: "";
        transition: transform $transition, background-color $transition;
    }

    span,
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 23px;
        height: 2px;
        background-color: #1d1d1f;
        border-radius: 2px;
    }

    span {
        transform: translate(-50%, -50%);
        transition: opacity $transition, background-color $transition;
    }

    &::before {
        transform: translate(-50%, -8px);
    }

    &::after {
        transform: translate(-50%, 6px);
    }

    // active state

    .active & {
        span {
            opacity: 0;
        }

        &::before {
            transform: translate(-50%, 0) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, 0) rotate(-45deg);
        }
    }
}

.header_art6__menu_list {
    @include md {
        display: none;
    }
}

.header_art6__menu_item {
    & > a {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 13px;
        line-height: 185%;
        text-transform: uppercase;
        color: var(--color-black, #101010);
        transition: color $transition;
        text-wrap: nowrap;
    }

    @media (hover: hover) {
        &:hover > a {
            color: var(--color-siniy, #355ddb);
        }

        &.item_has_dropdown:hover {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }

    & > a:active {
        color: var(--color-siniy-active, #304790);
    }

    &.item_has_dropdown {
        position: relative;
    }

    &.item_has_dropdown > a {
        position: relative;
        padding-right: 17px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 2px;
            display: block;
            width: 9px;
            height: 6px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: opacity $transition, transform $transition;
            transform: translateY(-50%);
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_149_966)'%3E%3Cpath d='M0.75 1.125L4.5 4.875L8.25 1.125' stroke='%23101010' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_149_966'%3E%3Crect width='9' height='6' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            opacity: 1;
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_149_966)'%3E%3Cpath d='M0.75 1.125L4.5 4.875L8.25 1.125' stroke='%23355ddb' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_149_966'%3E%3Crect width='9' height='6' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            opacity: 0;
        }

        &.active {
            &::before,
            &::after {
                transform: translateY(-50%) scale(-1);
            }
        }

        &:active {
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_362_122)'%3E%3Cpath d='M0.75 1.125L4.5 4.875L8.25 1.125' stroke='%23304790' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_362_122'%3E%3Crect width='9' height='6' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                opacity: 1;
            }
        }
    }

    @include lg {
        &:nth-child(n + 3) {
            display: none;
        }
    }
}

// panel

.header_art6__panel {
    flex: 0 0 auto;
    display: flex;
    gap: 0 25px;
    justify-content: center;
    align-items: center;

    @include xs {
        gap: 0 7px;
    }
}

.header_art6__panel_phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--color-chernyy, #0e0e0e);
    transition: color $transition;
    text-wrap: nowrap;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);
    }

    @include xs {
        transform: translateY(4px);
    }
}

.header_art6__panel_number {
    @include xs {
        display: none;
    }
}

.header_art6__panel_icon {
    display: none;

    @include xs {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 35px;
        flex-shrink: 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        img:nth-child(2) {
            opacity: 0;
        }

        .header_art6__panel_phone:active & {
            img:nth-child(1) {
                opacity: 0;
            }

            img:nth-child(2) {
                opacity: 1;
            }
        }
    }
}

.header_art6__panel_callback {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 184px;
    height: 40px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-belyy, #fcfcfc);
    background-color: var(--color-siniy, #355ddb);
    border: 1px solid var(--color-siniy, #355ddb);
    border-radius: 3px;
    transition: color $transition, background-color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
            background-color: var(--color-belyy, #fcfcfc);
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);
        border: 1px solid var(--color-siniy-active, #304790);
        background-color: var(--color-belyy, #fcfcfc);
    }

    @include xs {
        display: none;
    }
}

.header_art6__show_mobile {
    display: none;

    @include xs {
        flex-shrink: 0;
        display: block;
        width: 40px;
        height: 40px;
        transition: color $transition;

        @media (hover: hover) {
            &:hover {
                color: var(--color-siniy, #355ddb);

                .header_art6__burger {
                    span,
                    &::before,
                    &::after {
                        color: var(--color-siniy, #355ddb);
                        background-color: var(--color-siniy, #355ddb);
                    }
                }
            }
        }

        &:active {
            color: var(--color-siniy-active, #304790);

            .header_art6__burger {
                span,
                &::before,
                &::after {
                    color: var(--color-siniy-active, #304790);
                    background-color: var(--color-siniy-active, #304790);
                }
            }
        }
    }
}

// dropdown menu

.header_art6__dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: -20px;
    z-index: 5;
    width: 300px;
    // padding: 30px 0;
    background-color: var(--color-bg-grey, #f9f9f9);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $transition, visibility $transition;

    .item_has_dropdown.active & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 5px;
    }
}

.header_art6__dropdown_item {
    position: relative;

    // &:not(:last-child) {
    //     margin-bottom: 18px;
    // }

    &:first-child > .header_art6__dropdown_link {
        padding-top: 27px;
    }

    &:last-child > .header_art6__dropdown_link {
        padding-bottom: 27px;
    }
}

.header_art6__dropdown_link,
.header_art6__inner_link {
    display: block;
    padding: 9px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-chernyy);
    transition: color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);
    }
}

// inner list

.header_art6__inner_list {
    position: absolute;
    top: 0;
    left: calc(100% - 26px);
    display: block;
    width: 300px;
    // padding: 30px 20px;
    background-color: var(--color-header-inner-list-bg, #f1f1f1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $transition, visibility $transition;

    .item_has_dropdown.active .header_art6__dropdown_item:hover & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.header_art6__inner_item {
    &:first-child > .header_art6__inner_link {
        padding-top: 27px;
    }

    &:last-child > .header_art6__inner_link {
        padding-bottom: 27px;
    }
}

// extra menu

.header_art6__extra {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 200px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: var(--color-white, #fff);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity $transition, visibility $transition,
        transform $transition;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }
}

.header_art6__extra_wrapper {
    display: grid;
    gap: 50px 72px;
    grid-template-columns: repeat(auto-fill, 190px);
}

.header_art6__extra_wrapper_XL {
    padding: 23px 0 83px;

    @include xl {
        display: none;
    }
}

.header_art6__extra_wrapper_LG {
    padding: 38px 0 85px;

    @include minw(1601px) {
        display: none;
    }

    @include lg {
        display: none;
    }
}

.header_art6__extra_wrapper_MD {
    padding: 38px 0 85px;

    @include minw(1301px) {
        display: none;
    }

    @include sm {
        display: none;
    }
}

.header_art6__extra_wrapper_SM {
    padding: 32px 0 85px;

    @include minw(992px) {
        display: none;
    }

    @include xs {
        display: none;
    }
}

.header_art6__extra_item.category_item {
    &:not(:first-child) {
        margin-top: 17px;
    }

    &:not(:last-child) {
        margin-bottom: 13px;
    }
}

.header_art6__extra_item.subcategory_item {
    &:not(:last-child) {
        margin-bottom: 12px;
    }
}

.category_item {
    text-transform: uppercase;
    color: var(--color-black, #101010);
}

.subcategory_item {
    color: var(--color-seryy-tekst, #7d7d7d);

    &.header_art6__mobile_item {
        color: #3f3f3f;
    }
}

.header_art6__extra_link {
    font-weight: 500;
    font-size: 15px;
    transition: color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);
    }

    .category_item & {
        line-height: 185%;
    }

    .subcategory_item & {
        line-height: 140%;
    }
}

.header_art6__more {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows $transition;

    .header_art6__extra_item.active & {
        grid-template-rows: 1fr;
    }
}

.header_art6__more_list {
    min-height: 0;
}

.header_art6__more_btn {
    font-size: 14px;
    color: var(--color-siniy, #355ddb);
}

.header_art6__more_hidden {
    .header_art6__extra_item.active & {
        display: none;
    }
}

.header_art6__more_visible {
    display: none;

    .header_art6__extra_item.active & {
        display: inline;
    }
}

.header_art6__more_item {
    margin-bottom: 12px;
}

.header_art6__mobile {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 3;
    // overflow-y: auto;
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    // height: 100%;
    padding: 65px 0 0;
    background-color: var(--color-white, #fff);
    // opacity: 0;
    // visibility: hidden;
    pointer-events: none;
    // transform: translateX(-100px);
    transition: transform $transition;

    .mobile-menu-open & {
        pointer-events: auto;
        transform: translateX(100%);
    }
}

.header_art6__mobile_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    padding-top: 105px;
    transform: translateX(-100%);
    transition: transform $transition;

    &.top_level.active {
        transform: translateX(0);
    }

    &.inner_level.active {
        transform: translateX(0);
        padding-top: 81px;
    }
}

.header_art6__mobile_inner {
    position: relative;
    // min-height: 0;
}

.header_art6__mobile_list {
    padding: 0 15px;
    // overflow-y: auto;

    // .top_level & {
    //     max-height: calc(
    //         100dvh - var(--mobile-bottom-height, 136px) -
    //             var(--mobile-header-height, 65px) - 40px
    //     );
    // }

    // .inner_level & {
    //     max-height: calc(
    //         100dvh - var(--mobile-bottom-height, 136px) -
    //             var(--mobile-header-height, 65px) - 53px
    //     );
    // }
}

.header_art6__mobile_item {
    display: flex;
    align-items: stretch;
    min-height: 52px;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-svetlo-seryy-linii, #e1e1e1);
}

.header_art6__mobile_el {
    flex: 1 1 auto;
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.header_art6__mobile_link {
    display: inline-block;
    height: 100%;
    padding: 5px 0;
    transition: color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);
    }
}

.header_art6__mobile_btn {
    position: relative;
    flex-shrink: 0;
    // padding: 3px 24px 3px 20px;
    padding: 5px 10px 3px 20px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--color-svetlo-seryy-linii, #e1e1e1);
        transform: translateY(-50%);
    }

    span {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 18px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity $transition;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 15.75L12.3505 9L5 2.25' stroke='%237D7D7D' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99988 15.75L12.3503 9L4.99988 2.25' stroke='%23355DDB' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
            opacity: 0;
        }
    }

    @media (hover: hover) {
        &:hover {
            span {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &:active span {
        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99988 15.75L12.3503 9L4.99988 2.25' stroke='%23304790' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
            opacity: 1;
        }
    }
}

.header_art6__mobile_bottom {
    padding: 40px 15px 50px;
}

.header_art6__mobile_phone {
    position: relative;
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    padding: 9px 27px 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 185%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-belyy, #fcfcfc);
    background-color: var(--color-siniy, #355ddb);
    border: 1px solid var(--color-siniy, #355ddb);
    border-radius: 3px;
    transition: color $transition, background-color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);
            background-color: var(--color-belyy, #fcfcfc);
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);
        background-color: var(--color-belyy, #fcfcfc);
        border: 1px solid var(--color-siniy-active, #304790);
    }
}

.header_art6__mobile_back {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-left: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: var(--color-seryy-tekst, #7d7d7d);

    &::before {
        content: "";
        position: absolute;
        top: 45%;
        left: 5px;
        display: inline-block;
        width: 5px;
        height: 5px;
        border-top: 1px solid var(--color-seryy-tekst, #7d7d7d);
        border-left: 1px solid var(--color-seryy-tekst, #7d7d7d);
        transform: rotate(-45deg) translateY(-50%);
        transition: border-color $transition;
    }

    @media (hover: hover) {
        &:hover {
            color: var(--color-siniy, #355ddb);

            &::before {
                border-color: var(--color-siniy, #355ddb);
            }
        }
    }

    &:active {
        color: var(--color-siniy-active, #304790);

        &::before {
            border-color: var(--color-siniy-active, #304790);
        }
    }
}
/* end of header styles*/
