.perv_ekr_v_2 {
    overflow: hidden;
    padding: 100px 0;
    background-color: #093f5a;

    @include xl {
        padding: 90px 0;
    }

    @include lg {
        padding: 80px 0;
    }

    @include sm {
        padding: 45px 0;
    }
}

// .perv_ekr_v_2__container {
// }

.perv_ekr_v_2__info {
    flex: 1 1 auto;
    max-width: 1369px;
    margin-bottom: 70px;

    @include xl {
        margin-bottom: 60px;
    }

    @include lg {
        margin-bottom: 51px;
    }

    @include sm {
        max-width: 100%;
        margin-bottom: -80px;
    }

    @include xs {
        margin-bottom: 40px;
    }
}

.perv_ekr_v_2__title {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color_white;
}

.perv_ekr_v_2__color_text {
    color: #ff8a3d;
}

.perv_ekr_v_2__heading {
    width: 68.125%;
    font-weight: 400;
    text-transform: uppercase;
    color: $color_white;

    @include xs {
        width: 100%;
    }
}

// form

.perv_ekr_v_2__form {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    width: 72.87%;

    @include xl {
        width: 75%;
    }

    @include lg {
        width: 81.54%;
    }

    @include sm {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.perv_ekr_v_2__form_content {
    position: relative;
    z-index: 1;
    padding: 50px 72px;
    background-color: $color_white;
    border-radius: 3px;

    @include xl {
        padding: 45px 65px;
    }

    @include lg {
        padding: 38px 55px;
    }

    @include sm {
        position: relative;
        z-index: 2;
        order: 2;
        padding: 40px 36px;
    }

    @include xs {
        padding: 36px 30px;
    }
}

.perv_ekr_v_2__form_name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    color: $color_black;

    @include xl {
        margin-bottom: 12px;
        font-size: 23px;
    }

    @include lg {
        margin-bottom: 8px;
        font-size: 20px;
    }

    @include sm {
        margin-bottom: 5px;
    }

    @include xs {
        margin-bottom: 9px;
    }
}

.perv_ekr_v_2__form_descr {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: $color_black;

    @include xl {
        margin-bottom: 25px;
        font-size: 18px;
    }

    @include lg {
        margin-bottom: 28px;
        font-size: 15px;
    }

    @include sm {
        margin-bottom: 22px;
    }

    @include xs {
        margin-bottom: 28px;
    }
}

.perv_ekr_v_2__form_fieldset {
    margin-bottom: 10px;
    display: flex;
    gap: 0 24px;

    @include xl {
        margin-bottom: 9px;
    }

    @include lg {
        gap: 0 18px;
        margin-bottom: 8px;
    }

    @include sm {
        flex-direction: row;
        gap: 0 14px;
        align-items: center;
        margin-bottom: 14px;
    }

    @include xs {
        flex-direction: column;
    }
}

.perv_ekr_v_2__form_input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 5px 19px;
    border: 2px solid $color_grey_line;
    border-radius: 3px;

    &,
    &::placeholder {
        font-family: inherit;
        font-weight: 400;
        font-size: 18px;
        color: $color_grey_text;
    }

    @include xl {
        height: 51px;
        padding: 5px 15px;

        &,
        &::placeholder {
            font-size: 16px;
        }
    }

    @include lg {
        height: 42px;
        font-size: 14px;
        padding: 5px 12px;

        &,
        &::placeholder {
            font-size: 14px;
        }
    }

    @include sm {
        height: 47px;
        padding: 5px 15px;
    }

    @include xs {
        height: 52px;
        margin-bottom: 10px;
        padding: 5px 18px;

        &,
        &::placeholder {
            font-size: 15px;
        }
    }
}

.perv_ekr_v_2__form_submit {
    flex: 0 0 auto;
    min-width: auto;
    padding: 11px 24px;
    background-color: $color_btn_blue;
    border-color: $color_btn_blue;
    border-width: 2px;

    &,
    &::placeholder {
        font-family: inherit;
    }

    &::placeholder {
        color: $color_grey_text;
    }

    @media (hover: hover) {
        &:hover {
            color: $color_btn_blue;
            background-color: $color_white;
        }
    }

    @include xl {
        min-height: 51px;
        padding: 5px 20px;
        font-size: 14px;
    }

    @include lg {
        min-height: 42px;
        padding: 5px 12px;
        font-size: 13px;
    }

    @include sm {
        min-width: 238px;
        min-height: 47px;
        padding: 5px 22px;
    }

    @include xs {
        min-width: unset;
        min-height: 52px;
        margin-top: 18px;
    }
}

.perv_ekr_v_2__form_policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: $color_grey_text2;

    a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    @include sm {
        a {
            display: inline;
        }
    }
}

.perv_ekr_v_2__form_bg {
    position: absolute;
    bottom: 0;
    left: calc(100% - 52px);
    z-index: 1;
    width: 103%;
    aspect-ratio: 1127/597;
    transform: translateY(18%);

    picture,
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    @include sm {
        order: 1;
        position: static;
        width: 41.35%;
        margin: 0 66px 0 auto;
        aspect-ratio: 318/160;
        transform: translateY(24px);
    }

    @include xs {
        width: 100%;
        max-width: 318px;
        margin: 0 auto;
    }
}
