.sertifikaty_v_1__container {
    position: relative;
}

.sertifikaty_v_1__title {
    width: 70%;
    text-wrap: balance;

    @include sm {
        width: 60%;
    }

    @include xs {
        width: 100%;
    }
}

.sertifikaty_v_1__subtitle {
    width: 50%;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: var(--color-chernyy);

    @include xl {
        margin-bottom: 54px;
        font-size: 22px;
    }

    @include lg {
        margin-bottom: 48px;
        font-size: 17px;
    }

    @include sm {
        margin-bottom: 44px;
        font-size: 16px;
    }

    @include xs {
        margin-bottom: 34px;
        width: 100%;
    }
}

.sertifikaty_v_1__slider_block {
    position: relative;
    padding: 0 70px;

    @include xl {
        padding: 0 60px;
    }

    @include lg {
        padding: 0 47px;
    }
}

.sertifikaty_v_1__wrapper {
    height: 346px;

    @include xl {
        height: 295px;
    }

    @include lg {
        height: 236px;
    }

    @include sm {
        height: 209px;
    }

    @include xs {
        height: 180px;
    }
}

.sertifikaty_v_1__item {
    display: block;
    height: 100%;
    width: auto;
}

.sertifikaty_v_1__nav {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transform: translateY(-50%);
    pointer-events: none;
}

.sertifikaty_v_1__prev,
.sertifikaty_v_1__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1.5px solid #4a4a51;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    appearance: none;
    pointer-events: all;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s ease-out;

    @media (hover: hover) {
        &:hover {
            opacity: 1;
        }
    }

    @include xl {
        width: 34px;
        height: 34px;
    }

    @include lg {
        width: 28px;
        height: 28px;
    }
}

.sertifikaty_v_1__prev {
    &::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.36839 1.3158L0.999971 7.85291L8.36838 15' stroke='%234A4A51' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @include xl {
        &::after {
            width: 9px;
            height: 15px;
        }
    }

    @include lg {
        &::after {
            width: 8px;
            height: 12px;
        }
    }
}

.sertifikaty_v_1__next {
    &::after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.63158 14.6842L9 8.14709L1.63159 0.999999' stroke='%234A4A51' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @include xl {
        &::after {
            width: 9px;
            height: 15px;
        }
    }

    @include lg {
        &::after {
            width: 8px;
            height: 12px;
        }
    }
}

.sertifikaty_v_1__button {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    gap: 0 7px;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    transition: color $transition, background-color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-belyy, #fcfcfc);
            background-color: var(--color-siniy, #355ddb);

            &::before {
                transform: rotate(-45deg);
                opacity: 0;
            }

            &::after {
                transform: rotate(-45deg);
                opacity: 1;
            }
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 24px;
        display: inline-block;
        width: 14px;
        height: 13px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: opacity $transition, transform $transition;
    }

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19727 11.0972L11.0503 7.33344L7.19727 3.56971' stroke='%23355DDB' stroke-width='1.33335' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M1.63818 6.66682C1.26999 6.66682 0.971508 6.9653 0.971508 7.3335C0.971508 7.70169 1.26999 8.00017 1.63818 8.00017L1.63818 6.66682ZM10.4452 6.66682L1.63818 6.66682L1.63818 8.00017L10.4452 8.00017L10.4452 6.66682Z' fill='%23355DDB' /%3E%3C/svg%3E");
    }

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19727 11.0972L11.0503 7.33344L7.19727 3.56971' stroke='%23fff' stroke-width='1.33335' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M1.63818 6.66682C1.26999 6.66682 0.971508 6.9653 0.971508 7.3335C0.971508 7.70169 1.26999 8.00017 1.63818 8.00017L1.63818 6.66682ZM10.4452 6.66682L1.63818 6.66682L1.63818 8.00017L10.4452 8.00017L10.4452 6.66682Z' fill='%23fff' /%3E%3C/svg%3E");
        opacity: 0;
    }

    @include xs {
        position: relative;
        top: unset;
        right: unset;
        margin: 40px auto 0;
    }
}
