/* slider-v-1 styles */

.slider-v-1__container {
    position: relative;
}

.slider-v-1__slide {
    picture,
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.slider-v-1__navigation.swiper-pagination-horizontal {
    position: absolute;
    bottom: 58px;
    left: 50%;
    z-index: 2;
    display: flex;
    gap: 0 16px;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
        position: relative;
        display: inline-block;
        width: 17px;
        height: 17px;
        margin: 0;
        background-color: var(--color-white, #fff);
        border-radius: 50%;
        border: 2px solid var(--color-sernye-linii, #c9c9c9);
        opacity: 1;
        transition: all $transition;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 21px;
            height: 21px;
        }

        @include lg {
            width: 15px;
            height: 15px;

            &::after {
                width: 19px;
                height: 19px;
            }
        }

        @include lg {
            width: 14px;
            height: 14px;
        }

        @include sm {
            gap: 0 12px;
            width: 10px;
            height: 10px;

            &::after {
                width: 14px;
                height: 14px;
            }
        }

        @include xs {
            gap: 0 16px;
            width: 17px;
            height: 17px;

            &::after {
                width: 21px;
                height: 21px;
            }
        }
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        position: relative;
        width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);
        background-color: var(--color-siniy, #355ddb);

        &.paused {
            animation-play-state: paused;
        }

        &::before {
            content: "";
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 9px solid var(--color-white, #fff);
            animation: rotateGradient $animationDuration linear;
        }

        @include xl {
            width: 18px;
            height: 18px;

            &::before {
                border: 8px solid var(--color-white, #fff);
            }
        }

        @include lg {
            width: 17px;
            height: 17px;

            &::before {
                border: 7px solid var(--color-white, #fff);
            }
        }

        @include sm {
            width: 13px;
            height: 13px;

            &::before {
                border: 5px solid var(--color-white, #fff);
            }
        }

        @include xs {
            width: 20px;
            height: 20px;

            &::before {
                border: 9px solid var(--color-white, #fff);
            }
        }

        @keyframes rotateGradient {
            0% {
                clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            }
            25% {
                clip-path: polygon(
                    50% 50%,
                    0 0,
                    100% 0,
                    100% 0,
                    100% 0,
                    100% 0
                );
            }
            50% {
                clip-path: polygon(
                    50% 50%,
                    0 0,
                    100% 0,
                    100% 100%,
                    100% 100%,
                    100% 100%
                );
            }
            75% {
                clip-path: polygon(
                    50% 50%,
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 100%
                );
            }
            100% {
                clip-path: polygon(
                    50% 50%,
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    0 0
                );
            }
        }
    }
}

/* end of slider-v-1 styles */
