.tovary_v_1__container {
    position: relative;
}

.tovary_v_1__title {
    width: 70%;

    @include sm {
        width: 60%;
    }

    @include xs {
        width: 100%;
    }
}

.tovary_v_1__subtitle {
    width: 63.5%;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: var(--color-chernyy);

    @include xl {
        font-size: 22px;
    }

    @include lg {
        font-size: 17px;
    }

    @include sm {
        font-size: 16px;
    }

    @include xs {
        width: 100%;
    }
}

.tovary_v_1__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    width: 100%;

    @include xl {
        gap: 50px 40px;
    }

    @include lg {
        gap: 46px 32px;
    }

    @include sm {
        grid-template-columns: repeat(3, 1fr);
        gap: 38px 32px;
    }

    @include xs {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 14px;
    }
}

.tovary_v_1__item_top {
    position: relative;
    margin-bottom: 20px;

    img {
        width: 100%;
        aspect-ratio: 336/229;
        object-fit: cover;
        border-radius: 3px;
    }

    @include xl {
        margin-bottom: 17px;
    }

    @include lg {
        margin-bottom: 14px;
        border-radius: 2px;
    }

    @include xs {
        margin-bottom: 20px;

        img {
            aspect-ratio: 173/135;
        }
    }
}

.tovary_v_1__name {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #1d1d1f;

    @include xl {
        margin-bottom: 25px;
        font-size: 19px;
    }

    @include lg {
        margin-bottom: 22px;
        font-size: 15px;
    }

    @include xs {
        margin-bottom: 20px;
        font-size: 14px;
    }
}

.tovary_v_1__btn {
    width: 100%;
    min-width: 100%;
    background-color: #1eb6e8;
    border-color: #1eb6e8;
    font-size: 16px;

    @media (hover: hover) {
        &:hover {
            color: #1eb6e8;
            background-color: #fff;
        }
    }

    @include xl {
        min-height: 46px;
        font-size: 14px;
    }

    @include lg {
        min-height: 42px;
        padding: 5px 8px;
        font-size: 13px;
    }

    @include xs {
        font-size: 12px;
    }
}

.tovary_v_1__button {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    gap: 0 7px;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
    transition: color $transition, background-color $transition;

    @media (hover: hover) {
        &:hover {
            color: var(--color-belyy, #fcfcfc);
            background-color: var(--color-siniy, #355ddb);

            &::before {
                transform: rotate(-45deg);
                opacity: 0;
            }

            &::after {
                transform: rotate(-45deg);
                opacity: 1;
            }
        }
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 24px;
        display: inline-block;
        width: 14px;
        height: 13px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: opacity $transition, transform $transition;
    }

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19727 11.0972L11.0503 7.33344L7.19727 3.56971' stroke='%23355DDB' stroke-width='1.33335' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M1.63818 6.66682C1.26999 6.66682 0.971508 6.9653 0.971508 7.3335C0.971508 7.70169 1.26999 8.00017 1.63818 8.00017L1.63818 6.66682ZM10.4452 6.66682L1.63818 6.66682L1.63818 8.00017L10.4452 8.00017L10.4452 6.66682Z' fill='%23355DDB' /%3E%3C/svg%3E");
    }

    &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.19727 11.0972L11.0503 7.33344L7.19727 3.56971' stroke='%23fff' stroke-width='1.33335' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M1.63818 6.66682C1.26999 6.66682 0.971508 6.9653 0.971508 7.3335C0.971508 7.70169 1.26999 8.00017 1.63818 8.00017L1.63818 6.66682ZM10.4452 6.66682L1.63818 6.66682L1.63818 8.00017L10.4452 8.00017L10.4452 6.66682Z' fill='%23fff' /%3E%3C/svg%3E");
        opacity: 0;
    }

    @include xs {
        position: relative;
        top: unset;
        right: unset;
        margin: 40px auto 0;
    }
}

// form

.tovary_v_1__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.tovary_v_1__modal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.15);
    cursor: pointer;
}

.tovary_v_1__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    flex: 0 0 auto;
    width: 448px;

    @include xl {
        width: 408px;
    }

    @include lg {
        width: 340px;
    }

    @include sm {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 340px;
    }
}

.tovary_v_1__modal__close {
    position: absolute;
    top: 22px;
    right: 27px;
    z-index: 3;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.737 8.861 22.88 23.004m.258-14.142L8.995 23.004' stroke='%230E0E0E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    @include xl {
        top: 19px;
        right: 25px;
        width: 28px;
        height: 28px;
    }

    @include lg {
        top: 15px;
        right: 23px;
        width: 25px;
        height: 25px;
    }

    @include xs {
        top: 35px;
        right: 20px;
    }
}

.tovary_v_1__form_content {
    position: relative;
    z-index: 1;
    padding: 52px 42px 47px;
    background-color: $color_white;
    border-radius: 3px;

    @include xl {
        padding: 47px 38px 48px;
    }

    @include lg {
        padding: 40px 32px 36px;
    }

    @include sm {
        z-index: 2;
        order: 2;
        padding: 40px 36px 43px;
    }

    @include xs {
        padding: 36px 30px 36px;
    }
}

.tovary_v_1__form_name {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
    text-transform: uppercase;
    color: $color_black;

    @include xl {
        margin-bottom: 12px;
        font-size: 23px;
    }

    @include lg {
        margin-bottom: 8px;
        font-size: 20px;
    }

    @include sm {
        margin-bottom: 5px;
    }

    @include xs {
        margin-bottom: 9px;
    }
}

.tovary_v_1__form_descr {
    margin-bottom: 36px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: $color_black;

    @include xl {
        margin-bottom: 32px;
        font-size: 18px;
    }

    @include lg {
        margin-bottom: 28px;
        font-size: 15px;
    }

    @include sm {
        margin-bottom: 22px;
    }

    @include xs {
        margin-bottom: 28px;
    }
}

.tovary_v_1__form_fieldset {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;

    @include xl {
        margin-bottom: 9px;
    }

    @include lg {
        margin-bottom: 8px;
    }
}

.tovary_v_1__form_input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    margin-bottom: 22px;
    padding: 5px 19px;
    border: 2px solid $color_grey_line;
    border-radius: 3px;
    color: $color_black_main;

    &,
    &::placeholder {
        font-family: inherit;
        font-weight: 400;
        font-size: 18px;
    }

    &::placeholder {
        color: $color_grey_text;
    }

    @include xl {
        height: 51px;
        padding: 5px 15px;

        &,
        &::placeholder {
            font-size: 16px;
        }
    }

    @include lg {
        height: 42px;
        padding: 5px 12px;

        &,
        &::placeholder {
            font-size: 16px;
        }
    }

    @include sm {
        height: 47px;
        padding: 5px 15px;
    }

    @include xs {
        height: 52px;
        margin-bottom: 10px;
        padding: 5px 18px;

        &,
        &::placeholder {
            font-size: 16px;
        }
    }
}

.tovary_v_1__form_submit {
    min-width: auto;
    margin-top: 14px;
    background-color: $color_btn_blue;
    border-color: $color_btn_blue;
    border-width: 2px;

    @media (hover: hover) {
        &:hover {
            color: $color_btn_blue;
            background-color: $color_white;
        }
    }

    @include xl {
        min-height: 51px;
        padding: 5px;
        font-size: 14px;
    }

    @include lg {
        min-height: 42px;
        font-size: 13px;
    }

    @include sm {
        flex: 0 0 auto;
        min-width: 238px;
        min-height: 47px;
        margin-top: 0;
    }

    @include xs {
        min-width: unset;
        min-height: 52px;
        margin-top: 18px;
    }
}

.tovary_v_1__form_policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: $color_grey_text2;

    a {
        display: inline-block;
        width: 100%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }

    @include sm {
        a {
            display: inline;
        }
    }
}

.tovary_v_1__form_bg {
    position: absolute;
    bottom: 0;
    right: calc(50% + 20px);
    z-index: -1;
    width: 121.5%;
    aspect-ratio: 543/273;

    picture,
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    @include sm {
        order: 1;
        position: static;
        width: 41.35%;
        margin: 0 0 0 auto;
        aspect-ratio: 318/160;
        transform: translateY(24px);
    }

    @include xs {
        width: 100%;
        max-width: 318px;
        margin: 0 auto;
    }
}
