:root {
    // fonts
    --font-montserrat: "Montserrat", sans-serif;

    // colors
    --color-white: #fff;
    --color-siniy: #355ddb;
    --color-belyy: #fcfcfc;
    --color-chernyy: #0e0e0e;
    --color-black: #101010;
    --color-seryy-tekst: #7d7d7d;
    --color-sernye-linii: #c9c9c9;
    --color-svetlo-seryy-linii: #e1e1e1;
    --color-header-inner-list-bg: #f1f1f1;
    --color-bg-grey: #f9f9f9;

    // Scrollbar
    --scrollbar-width: 2px;
    --scrollbar-track-color: var(--color-svetlo-seryy-linii, #e1e1e1);
    --scrollbar-thumb-color: var(--color-siniy, #355ddb);

    // Mobile Menu

    --mobile-bottom-height: 136px;
    --mobile-header-height: 65px;
}

// transitions
$transition: 0.2s ease-out;
